/* Ogólne style dla całej aplikacji */
.App {
  font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(20, 20, 19);
  display: flex;
  min-height: 100vh;
  background-color: rgb(210, 199, 199);
  text-align: center;
  margin-top: 40px;
}

/* Boczne menu */
.sidebar {
  width: 250px;
  background-color: #333;
  padding: 20px;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0; /* upewniamy się, że sidebar jest przypięty do góry */
}

/* Lista w sidebarze */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a:hover {
  color: #f4f4f4;
}

.sidebar ul li a.active {
  color: red; /* Kolor aktywnego linku */
  font-weight: bold; /* Opcjonalnie pogrubienie */
}

.main-content {
  margin-left: 250px; /* Aby zawartość nie nachodziła na sidebar */
  flex-grow: 1; /* Główna treść teraz zajmie resztę przestrzeni */
  display: flex;
  justify-content: center; /* Wyśrodkowanie w poziomie */
  align-items: center; /* Wyśrodkowanie w pionie */
  padding: 20px;
}

h1 {
  color: #333;
}
